body {
    background-color: darkslategrey;
}

h1 {
    color: yellow;
    background-color: darkgreen;
    border-style: groove;
    text-shadow: 0 0 7px orangered, 0 0 25px red;
}

pre {
    color: pink;
    border-style: groove;
    border-radius:10px;
    background-color:darkblue;
}

h2 {
    color:yellow;
    font-family:Papyrus;
}

h3 {
    color:antiquewhite;
}

p {
    color: hotpink;
    background-color:black;
    margin:3px;
    border-style:double;
    padding:5px;
}

b {
    color:tan;
}

li {
    color:orange;
}

i {
    color:snow;
    
}
